h1 {
	align-content: center;
	text-align: center;
}
h2 {
	align-content: center;
	text-align: center;
}
body {
	font-size: 12px;
	font-family: Arial, Helvetic, sans-serif;
}
.Question {
	align-content: center;
	background-color: lightgreen;
	font-family: Arial, Helvetic, sans-serif;
}
.Answer {
	align-content: center;
	background-color: lightgreen;
	font-family: Arial, Helvetic, sans-serif;
}
.Submit {
	align-content: center;
	border-style: double;
	font-family: Arial, Helvetic, sans-serif;
}
.CommonFAQ {
	border: 1px solid black;
	background-color: mediumseagreen;
	
}