body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6{
  position:  relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/*
fixed = parallax
scroll =. normal
*/

  background-attachment: fixed;
}

.pimg1{
  background-image: url("images/notepad.jpg");
  min-height: 100%;
}
.pimg2{
  background-image: url("images/plants-2.jpg");
  min-height: 500px;
}
.pimg3{
  background-image: url("images/notepad-3.jpg");
  min-height: 500px;
}
.pimg4{
  background-image: url("images/branch.jpg");
  min-height: 500px;
}
.pimg5{
  background-image: url("images/laptop.jpg");
  min-height: 500px;
}
.pimg6{
  background-image: url("images/fern.jpg");
  min-height: 100%;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: none;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding:  0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 4.4rem;
  background-color: #98FB98;
  backdrop-filter: blur(2rem);
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
  font-family: "Lato", sans-serif;

}
.nav-link {
  font-size: 1.4rem;
  color: black;
  padding: 0 1rem;
  transition: opacity .5s;
  font-family: "Lato", sans-serif;

}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-logo{
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/application-logo.png") center no-repeat;
}








