html{
	box-sizing: border-box;
	border: thin;
	border-style: solid;

}
*, *:before, *:after {
  	box-sizing: inherit;
  }
h1 {
	align-content: center;
	text-align: center;
}
h2 {
	align-content: center;
	text-align: center;
}



body {
	margin: 0;
	padding: 0;
  min-height: 100%;
  background: whitesmoke;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #ccffcc 93%);
}
.titlehead{
	border: 1px;
	font-family: Arial, Helvetic, sans-serif;
	max-height: 176px;
	width: 100%;
}
.Main{
	font-size: 12px;
	font-family: Arial, Helvetic, sans-serif;
	color: #444444;
	margin: 0 auto;
  padding: 10px;
  width: 75%;
	box box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.QA{
	border: 1px solid black;
	padding: 3px;
	background-color: whitesmoke;

	position: relative;
  display: box;
  display: flex;
  display: flexbox;
  display: flex;

  box-orient: vertical;
  box-direction: normal;
 	flex-direction: column;
  flex-direction: column;
  flex-direction: column;

  width: 100%;
  padding: 16px 48px 16px 16px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
  background: whitesmoke;
}
.QA a:hover,
.QA a:hover::after {
  cursor: pointer;
  color: #ff5353;
}
.QA a:hover::after {
  border: 1px solid #ff5353;
}
.QA a.active {
  color: #ff5353;
  border-bottom: 1px solid #ff5353;
}
.QA a::after {
  font-family: Arial, Helvetic, sans-serif;
  content: '\f218';
  position: relative;
  float: right;
  right: 16px;
  font-size: 16px;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-radius: 50%;
 	border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}
.QA a.active::after {
  font-family: Arial, Helvetic, sans-serif;
  content: '\f209';
  color: #ff5353;
  border: 1px solid #ff5353;
}
.QA .A {
  opacity: 0;
  padding: 0 16px;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.QA .A p {
  font-size: 16px;
  font-weight: 300;
}
.QA .A.active {
  opacity: 1;
  padding: 16px;
  max-height: 100%;
  transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
.Question {
	align-content: center;
	background: whitesmoke;
	font-family: Arial, Helvetic, sans-serif;
}
.Answer {
	align-content: center;
	background: whitesmoke;
	font-family: Arial, Helvetic, sans-serif;
}
.Submit {
	align-content: center;
	border-style: double;
}
.CommonFAQ {
	padding: 3px;
	
}
.navbar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(to bottom, #00ff00 0%, #33cc33 93%);
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem;
  font-family: "Lato", sans-serif;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.nav-link {
  font-size: 1rem;
  color: #000;
  padding: 0 5rem;
  transition: opacity .5s;
  font-family: "Lato", sans-serif;
}

.nav-link-logo{
  width: 1.2rem;
  height: 3.0rem;
  background: url("images/application-logo.png") center no-repeat;
}
